.App {
  height: 1920px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.App-header {
  height: 152px;
  background: #103159;
}

.App-stage {
  background-image: url('/BG.png');
  background-repeat: no-repeat;
  height: 1270px;
  position: relative;
}

.slide-left {
  transition: move-left 1s ease-in-out;
}

.slide-right {
  transition: move-right 1s ease-in-out;
}

.App-navigation {
  height: 498px;
  background: #103159;
  position: relative;
}
