.App {
  height: 1920px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.App-header {
  display: flex;
  height: 152px;
  background: #103159;
  font-size: 60px;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-bottom: white 2px solid;
  font-family: 'ChangaOne';
}

.App-header-split {
  display: flex;
  height: 152px;
  background: #103159;
  font-size: 60px;
  color: #fff;
  border-bottom: white 2px solid;
  font-family: 'ChangaOne';
}

.App-header-split-left {
  flex: 0 0 641px;
  height: 100%;
  line-height: 64px;
  text-align: left;
}

.App-header-split-right {
  flex: 0 0 439px;
  font-size: 40px;
  background: #30619c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-stage {
  background-repeat: no-repeat;
  height: 1270px;
  position: relative;
  overflow: hidden;
  font-family: 'LemonMilk', sans-serif;
}

.slide-left {
  transition: move-left 1s ease-in-out;
}

.slide-right {
  transition: move-right 1s ease-in-out;
}

.App-navigation {
  height: 498px;
  background: #103159;
  position: relative;
  border-top: white 2px solid;
  font-family: 'LemonMilk', sans-serif;
}

App-navigation img:hover {
}

.Options-buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 951px;
  left: 950px;
  width: 100px;
  font-family: LemonMilk, serif;
  font-size: 20px;
}

.Options-buttons-box span {
  margin-top: 9px;
}

.Options-buttons-box a:first-of-type {
  margin-bottom: 28px;
}

/* navigation styling */
.nav-top {
  width: 100%;
  color: #ffffff;
}
.nav-middle {
  margin-top: 50px;
  background: #0e1f33;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 115px;
}
.nav-items-container {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 700px;
}
.main-text {
  font-size: 40px;
  margin-top: 30px;
  letter-spacing: 2px;
  font-weight: 700;
}
.sub-text {
  font-size: 20px;
  margin-top: 12px;
  white-space: pre;
}

/* button styling */
.nav-button {
  font-family: 'LemonMilk', sans-serif;
  font-size: 20px;
  color: #fff;
  background: #cd4845;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 10px 20px;
  min-width: 240px;
}

/* EEG game scene styling */
.sticky-dots-container {
  position: absolute;
  top: 50px;
  left: 540px;
  transform: translateX(-50%);
  width: 570px;
}
.sticky-dots {
  position: absolute;
}
.leads-head-container {
  position: absolute;
  top: -10px;
  left: 540px;
  transform: translateX(-50%);
  width: 682px;
}
.leads-machine-container {
  position: absolute;
  top: -212px;
  left: 530px;
  transform: translateX(-50%);
  width: 197px;
}
.leads-head-container svg,
.leads-machine-container svg,
.cap-container svg {
  position: absolute;
}
.cap-container {
  position: absolute;
  width: 616px;
  top: 0;
  left: 540px;
  transform: translateX(-50%);
}

.still {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.still2 {
  animation: fadeIn 1s forwards 2s;
}
.still3 {
  animation: fadeIn 1s forwards 5s;
}
.still4 {
  animation: fadeIn 1s forwards 8s;
}
.still5 {
  animation: fadeIn 1s forwards 11s;
}
.still6 {
  animation: fadeIn 1s forwards 14s;
}
.still7 {
  animation: fadeIn 1s forwards 17s;
}
.still8 {
  animation: fadeIn 1s forwards 20s;
}
.still9 {
  animation: fadeIn 1s forwards 23s;
}
.still10 {
  animation: fadeIn 1s forwards 26s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
