.App {
  height: 1920px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.App-header {
  display: flex;
  height: 152px;
  background: #103159;
  font-size: 60px;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-bottom: white 2px solid;
}

.App-stage {
  background-image: url('/images/BG.png');
  background-repeat: no-repeat;
  height: 1270px;
  position: relative;
}

.slide-left {
  transition: move-left 1s ease-in-out;
}

.slide-right {
  transition: move-right 1s ease-in-out;
}

.App-navigation {
  height: 498px;
  background: #103159;
  position: relative;
  border-top: white 2px solid;
}
